* {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

/* .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    height: 200px;
    width: 200px;
} */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    height: 200px;
    width: 200px;
    background: linear-gradient(to right, #ff105f, #fd8f00);
    border-radius: 50%;
    /* border-left: 4px solid red;
    border-top: 4px solid red; */
    animation-name: ser;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: 2s;
}

.sup_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ser {
    0% {
        transform: rotate(0deg);
        /* border-radius: 0%; */
    }
    
    25% {
        /* border-radius: 20%; */
        transform: rotate(90deg);
    }
    
    50% {
        /* border-radius: 30%; */
        transform: rotate(180deg);
    }
    
    75% {
        /* border-radius: 50%; */
        transform: rotate(270deg);
    }
    
    100% {
        /* border-radius: 10%; */
        transform: rotate(360deg);
    }
}

.in_main {
    position: fixed;
    background: #fff;
    border-radius: 50%;
    background-color: transparent;
    font-size: 30px;
}